<p style="color: green"><%= notice %></p>

<%= render 'searchbar' %>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">E-mail</th>
      <th scope="col">Phone</th>
      <th scope="col">cpf</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <th scope="row" ><%= i + ((@page - 1) * 10) + 1 %></th>
      <td><%= link_to user.name, user_path(user), class: 'user-link' %></td>
      <td><%= link_to user.email, user_path(user), class: 'user-link' %></td>
      <td><%= link_to user.phone, user_path(user), class: 'user-link' %></td>
      <td><%= link_to user.cpf, user_path(user), class: 'user-link' %></td>
      <td><%= button_to "", user_path(user), method: :delete, class: "fa-solid fa-trash-can btn-none" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%# PAGINATION %>
<%# Render a view helper in your views (skipping nav links for empty pages) %>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy, class: "") %>
</div>
